---
// src/pages/index.astro
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Hobbies from '../components/Hobbies.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Writing from '../components/Writing.astro';
import Contact from '../components/Contact.astro';
import Tweaks from '../components/Tweaks.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div id="top"></div>
		<Hero />
		<About />
		<Hobbies />
		<Experience />
		<Projects />
		<Writing posts={posts} />
		<Contact />
		<Tweaks />
	</body>
</html>
