---
// src/components/SectionHead.astro
interface Props {
	num: string;
	title: string;
	titleEm?: string;
}
const { num, title, titleEm } = Astro.props;
---

<div class="section-head">
	<span class="num">{num}</span>
	<h2>
		{title}
		{
			titleEm && (
				<>
					{' '}
					<em>{titleEm}</em>
				</>
			)
		}
	</h2>
</div>
